@font-face {
    font-family: 'Proxima Nova Lt';
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('subset-ProximaNova-Semibold.woff2') format('woff2'),
        url('subset-ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('subset-ProximaNova-Regular.woff2') format('woff2'),
        url('subset-ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

